<%-include('common/head')%>

<body>

<%-include('common/nav')%>
    


    <section id="intro">
        <div class="carousel-item active">
            <div class="carousel-background"><img src="imags/slider/slider1.jpg" alt=""></div>
            <div class="carousel-container">
                <div class="carousel-content text-left">
                    <div class="container">
                        <h2 class="font-color-white">About JobGeeks</h2>
                        <p class="font-color-white margin">As we know, job portal, especially in the present-day scenario, plays an important role in bridging the gap between the recruiters and the job seekers. The qualified job seekers search for a place where they can apply their knowledge and skills to burgeon in the professional sector</p>
                        <a href="/job" class="Explore-Jobs">Explore Jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="Best-Place-to-Find-Jobs">
        <img src="imags/Best-Place-to-Find-Jobs.jpg" class="Best-Place-to-Find-Jobsimages" alt="">
        <div class="Best-Place-to-Find-Jobs-image">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h3 class="title">Best Place to Find Jobs</h3>
                        <div class="vertical-space-20"></div>
                        <p>An employment website is a website that deals specifically with employment or careers. Many employment websites are designed to allow employers to post job requirements for a position to be filled and are commonly known as job boards. Other employment sites offer employer reviews, career and job-search advice, and describe different job descriptions or employers</p>
                        <div class="vertical-space-30"></div>
                        <div class="Title-text-here-one-box">
                            
                        </div>
                        <div class="vertical-space-20"></div>
                        <div class="Title-text-here-one-box">
                           
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="v2-Jobtend" class="v2-Jobtend-none-roted">
        <div class="container">
            <div class="vertical-space-100"></div>
            <div class="row">
                <div class="col-lg-9 col-md-12 ">
                    <h3 class="title-jobted title font-color-white">Why Choose JobGeeks</h3>
                    <div class="vertical-space-20"></div>
                    <p class="max-width font-color-white"> A jobseeker using this platform efficiently to helps recruiters find the most qualified candidate for their vacant job position at a low cost. Job Portal made it easier for the unemployed to secure the most exciting opportunities.
                    </p>
                    
                    <div class="vertical-space-40"></div>
                    <ul class="max-width font-color-white">
                        <% if (displayData.length>0 ){ var c=1
                            for(let data of displayData) {
                                if(data.status){
                                    if (c<5){%>
                        <li class="list-item1 "><%=data.point%></li>
                        <%c++%>
                <% }else{
                    break
                } } } }%>
                       
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 align-self-center">
                    <a href="#" data-toggle="modal" data-target="#myModal" class="display-flex">
                        <span class="fa fa-play-circle font-color-white font-size-48"></span>
                        <h4 class="font-color-white title align-self-center">Watch Video</h4>
                    </a>
                </div>
                <div class="vertical-space-100"></div>
            </div>
        </div>
    </section>


    <section id="Meet-With-Our-Team">
        <div class="container">
            <div class="vertical-space-100"></div>
            <h3 class="text-center">Meet With Our Team</h3>
            <div class="vertical-space-30"></div>
            <p class="max-width">Here is the whole team, who are the contributors to the website designing
            </p>
            <div class="vertical-space-60"></div>
            <div class="row">
                <%if(team.length > 0){
                    for(let data of team){ if(data.status){%>
                <div class="col-lg-3 col-md-6">
                    <div class="Meet-With-Our-Team-box">
                        <div class="media">
                            <img src="/<%=data.image%>" alt="img" class="mr-3 rounded">
                            <div class="media-body align-self-center">
                                <h6><%=data.name%></h6>
                                <p><%=data.message%></p>
                            </div>
                        </div>
                    </div>
                </div>       
               <%}}}%>
            </div>
            <div class="vertical-space-85"></div>
        </div>
    </section>


   <%-include('common/footer')%>


    <div class="modal" id="myModal">
        <div class="container">
            <div class="vertical-space-85"></div>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <button class="button button-rounded  close" data-dismiss="modal">&times;</button>
                        <video class="" controls>
                            <source src="video/Pexels_Videos_2706.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script data-cfasync="false" src="js/email-decode.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>

    <script src="js/custom.js"></script>
</body>

</html>